header {
    position: relative;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.header-nav {

}
.nav-link {
    font-size: 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7)
}
.nav-link:not(:last-child) {
    margin-right: 20px;
}
.nav-link.active { /* у элемента есть и тот, и другой класс */
    color: black;
}
.logout-btn {
    position: absolute;
    right: 50px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}